.container{
  margin: 20px auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.app_subject_warp {
  display: flex;
  flex-flow: row;
  width: 800px;

}

.app_subject_warp > div{
  padding: 10px 10px;
  border: 1px solid #ccc;
  margin: 30px;
}


.statistics{
  width: 600px;
  padding: 0 50px;
}

